<html>
    <head>
        <title>
            error page
        </title>
        <h2>ERROR PAGE</h2>
        <div class="navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li>
                    <button class="btn btn-outline-primary nav-link active" style="font-family: cursive">Home</button>

                </li>
                
                <li>

                    <a href="http://127.0.0.1:8000/aboutus"><button class="btn btn-outline-primary nav-link active" style="font-family: cursive">About us</button></a>

                </li>
                <li>
                    <a href="" data-bs-toggle="modal" data-bs-target="#popup"><button class="btn btn-outline-primary nav-link active" style="font-family: cursive"><i class="fa fa-user"></i>Register</button></a>

                </li>
                <li>
                    <a href="http://127.0.0.1:8000/success " ><button class="btn btn-outline-primary nav-link active" style="font-family: cursive">Login</button></a>
                </li>
            </ul>

        </div>
    </head>
</html>